

@model IEnumerable<Online_Appointment.Models.Department>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>

<body>

    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.departments)
            {
                <div class="col">
                    <div class="card">
                        <img src="@Url.Content(item.ImageURL)" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            @* <a class="btn btn-outline-primary float-right" href="@Url.Action("DepDetails", "Home")"> *@
                            @*     <i class="bi bi-eye-fill" ></i> Show Details *@
                            @* </a> *@
                            <button class="btn btn-outline-warning"> @Html.ActionLink("Show Details", "DepDetails", new { id = item.DepId }, new { style = "color: black;" })
                                                                                                 <i class="bi bi-eye-fill"></i>  </button>
                                                      
                            <a  class="btn btn-primary">Arrange an appointment</a>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <p >Doctors</p>
            @foreach (var item in ViewBag.doctors)
            {
                <div class="col">
                    <div class="card">
                        @*<img src="@Url.Content(item.ImageURL)" class="card-img-top" alt="...">*@
                        <div class="card-body">
                            <h5 class="card-title">@item.ApplicationUser.Firstname @item.ApplicationUser.Lastname</h5>
                            <p class="card-text">Start time: @item.StartTime.ToString("HH:mm")</p>
                            <p class="card-text">End time : @item.EndTime.ToString("HH:mm")</p>
                            <p class="card-text">End time : @item.Departament.Name</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.StartTime && DateTime.Now <= item.EndTime)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else
                                {
                                <span class="badge bg-primary text-white">NOT AVAILABLE</span>
                                    }
                                </p>
                            <a href="@Url.Action("Index", "Patient" , new {area = "Patient"})" class="btn btn-primary">Arrange an appointment</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</body>

<!-- Template Main JS File -->
<script src="js/main.js"></script>
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jQuery")
</html>